{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

</head>
<body>
    <div> {{site.name}} </div>
    <div class="container">
        <div class="menu">
            <ul>
            {% for object in all_categories %}
                <li><a href ="/category/{{ object.pk }}">{{ object.name }}</a></li>

            {% endfor %}
                </ul>
        </div>
    </div>

    <div class="container">
        {% block content %}
        {% endblock %}
    </div>

    </div>

</body>
</html>
